@import 'variables';

@include media-breakpoint-down(sm) {
  header .logo {width: 100%;}
  header .logo img { max-width: 100%;  }
}
header {
  .logo {
    margin-top: 1em;
    text-align: center;
    img { display: inline-block; }
    .logo-pre {
      display: block;
      margin: 0 auto;
    }
    .logo-klasme {}
    .logo-plus {margin: 0 1em 0 2em;}
    .logo-niina {
      filter: drop-shadow(1px 0px 10px rgba(255,255,255,0.9));
    }
  }
}

body.inner {
  header .logo {
    transform: scale(.4);
    transform-origin: top;
    height: 180px;
  }
}

.navbar-custom {
  li > a.nav-link {
    color: $nsk-pink;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(white, 0.9);
    &.active {
      border-bottom: $nsk-pink 5px solid;
    }
    &:hover {
      color: white;
      text-shadow: -1px -1px 0 rgba($nsk-pink, 0.9)
    }
  }
}
