<% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to icon_text('ticket-alt', t(:my_coupons)), root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to icon_text('file-alt', t(:terms)), page_path(:regulamento), class: 'nav-link'  %>
        </li>
      </ul>
      <ul class="navbar-nav mr-0">
        <li class="nav-item">
          <%= link_to icon_text('power-off', t(:logout)), destroy_user_session_path, class: 'nav-link', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
