<div class="row">
  <div class="col-md-12">
    <div class="p-5 bg-light rounded text-center text-secondary" style='font-weight: lighter;'>
      <h1>Ganhador(a) da Promoção</h1>
      <dl>
        <dt>Nome:</dt>
        <dd>Malú Rizzon</dd>
      </dl>
      <p>Parabéns à ganhadora <strong>Malú Rizzon</strong>, entraremos em contato via e-mail e telefone.</p>
      <p>Agradecemos à todos pela participação.</p>
    </div>
  </div>
</div>

