<%= content_tag :h1, t(:terms) %>
<div class="row">
  <div class="col-md-12">
    <div class="p-5 bg-light rounded text-secondary" style='font-weight: lighter;'>
      <div class="text-center">
        <h4>REGULAMENTO DA PROMOÇÃO</h4>
        <h5>PROMOÇÃO CORÉIA DO SUL COM KLASME E NIINA SECRETS CERTIFICADO DE AUTORIZAÇÃO SEAE Nº 04.000797/2018</h5>
      </div>
      <ol>

        <li>
          <h6>EMPRESAS PROMOTORAS:</h6>
          <ol>
            <li>
              <p> Empresa Mandatária:
              Razão Social: CHAINS COMERCIO DE COSMETICOS EIRELI
              Endereço: VERGUEIRO Número: 360 Complemento: SALA 604/605 Bairro: LIBERDADE Município: SAO PAULO UF: SP CEP:01504-000
              CNPJ/MF nº: 29.048.820/0001-35
              </p>
            </li>
          </ol>
        </li>
        <li>
          <h6>MODALIDADE DA PROMOÇÃO:</h6>
          <p>Assemelhada a Sorteio</p>
        </li>
        <li>
          <h6>ÁREA DE ABRANGÊNCIA:</h6>
          <p>Todo o território nacional.</p>
        </li>
        <li>
          <h6>PERÍODO DA PROMOÇÃO:</h6>
          <p>11/02/2019 a 07/05/2019</p>
        </li>
        <li>
          <h6>PERÍODO DE PARTICIPAÇÃO:</h6>
          <p>11/02/2019 a 30/04/2019</p>
        </li>
        <li>
          <h6>CRITÉRIO DE PARTICIPAÇÃO: COMO PARTICIPAR</h6>
          <p>A promoção “CORÉIA DO SUL COM KLASME E NIINA SECRETS”, a ser realizada pela CHAINS COMÉRCIO DE COSMÉTICOS EIRELI ME, doravante denominada “Klasme”, no período compreendido entre os dias 11/02/2019 e 30/04/2019, com abrangência nacional, é aberta a qualquer pessoa física, maior de 18 anos, residente e domiciliada no território nacional, validamente inscrita no Cadastro de Pessoas Físicas do Ministério da Fazenda – CPF/MF, que queira participar.</p>

          <p>O período de participação estará compreendido entre os dias 11/02/2019 e 30/04/2019, até as 23:59, para as compras realizadas pela internet (e-commerce).</p>

          <p>Para fins de participação na promoção, serão consideradas as compras realizadas no período de participação.</p>

          <p>A cada R$ 150,00 (cento e cinquenta reais) gastos em produtos da categoria “skincare” no e-commerce da Klasme, independentemente da forma de pagamento, no período acima mencionado, dará direito ao participante a 1 (um) cupom numerado para concorrer ao prêmio desta promoção.</p>

          <p>A modalidade da promoção é “Assemelhada a Sorteio”.</p>

          <h6>CADASTRO E TROCA DE CUPONS</h6>
          <p>A participação nesta promoção deverá ser efetuada por meio de cupom de participação, que será recebido pelo cliente por e-mail logo após a confirmação do pagamento da compra efetuada. O referido cupom deverá ser mantido em sua posse para posterior comprovação em caso de premiação, bem como a nota fiscal eletrônica de compra.</p>

          <p>No momento do cadastramento no site, o participante deverá informar seus dados cadastrais, incluindo nome e endereço completos, sexo, data de nascimento, número do RG, telefones (com DDD), e-mail e o número do CPF.</p>

          <p>A responsabilidade quanto à veracidade dos dados informados no momento do cadastro é exclusiva do participante.</p>

          <p>A Promovente se reserva o direito de solicitar ao participante as notas/cupons fiscais e/ou comprovantes de compras originais para verificação, a seu critério, a qualquer tempo.</p>

          <p>As compras com valores inferiores a R$ 150,00 (cento e cinquenta reais) não poderão ser somadas para completarem a quantia necessária para serem trocados por cupons de participação.</p>

          <p>A título exemplificativo, uma compra de R$ 337,00 (trezentos e trinta e sete reais) dará direito ao participante a 2 (dois) cupons para participar, independentemente dos meios de pagamento utilizados, e o valor excedente não poderá ser considerado em nova compra para fins de troca de cupons.</p>

          <p>Em caso de trocas, serão computados apenas os valores da diferença paga.</p>

          <p>Não haverá limite de cupons de participação por participante, podendo o participante concorrer com quantos cupons desejar, desde que atenda às condições de participação.</p>
        </li>
        <li>
          <h6>QUANTIDADE DE SÉRIES:</h6>
          <p>2</p>
        </li>
        <li>
          <h6>QUANTIDADE DE ELEMENTOS SORTEÁVEIS POR SÉRIE:</h6>
          <p>100.000</p>
        </li>
        <li>
          <h6>APURAÇÃO E DESCRIÇÃO DE PRÊMIOS: DATA: 07/05/2019 13:00</h6>
          <p>PERÍODO DE PARTICIPAÇÃO DA APURAÇÃO: 11/02/2019 00:00 a 30/04/2019 23:59 DATA DO SORTEIO DA LOTERIA FEDERAL: 06/05/2019</p>
          <p>ENDEREÇO DA APURAÇÃO: Rua Vergueiro NÚMERO: 360 COMPLEMENTO: CJ. 605 BAIRRO: Liberdade MUNICÍPIO: São Paulo UF: SP CEP: 01504-010</p>
          <p>LOCAL DA APURAÇÃO: Hall de Entrada </p>
          <div class='text-center'>
            <h6>PRÊMIOS</h6>
          </div>
          <table class="table">
            <thead>
              <tr>
                <td>Quantidade</td>
                <td>Descrição</td>
                <td>Valor R$</td>
                <td>Valor Total R$</td>
                <td>Série Inicial</td>
                <td>Série Final</td>
                <td>Ordem</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td style='font-size: .8rem;'>Viagem para a Coréia do Sul com acompanhante no valor de R$ 30.000,00 (trinta mil reais), incluindo duas passagens aéreas de ida e volta, 4 noites de hospedagem em hotel modalidade turismo com café da manhã, almoço e jantar para duas pessoas e translado de ida e volta entre a residência do contemplado e o aeroporto, e o aeroporto e hotel, além de um encontro com a influencer Niina Secrets para conhecer a loja conceito da marca Mediheal.</td>
                <td>30.000,00</td>
                <td>30.000,00</td>
                <td> 0</td>
                <td> 1</td>
                <td> 1</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <h6>PREMIAÇÃO TOTAL:</h6>
          <table class="table">
            <thead>
              <tr>
                <td>Quantidade total de Prêmios</td>
                <td>Valor total da Promoção</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>30.000,00</td>
              </tr>
            </tbody>
          </table>

        </li>
        <li>
          <h6> FORMA DE APURAÇÃO:</h6>
          <p>Regra de Formação dos Elementos Sorteáveis ELEMENTO SORTEÁVEL: Serão gerados 100000 Elementos sorteáveis de 0 a 99.999 por série; NÚMERO DA SORTE: Será formado por 6 números, sendo que o primeiro número corresponde à série e os 5 últimos números ao ELEMENTO SORTEÁVEL, conforme exemplo abaixo: Exemplo: 1/12.345 = 1(série); 12.345(elemento sorteável). Data do Sorteio da Loteria Federal: Caso a Extração da Loteria Federal não venha a ocorrer na data prevista, por qualquer motivo, será considerada para efeitos de apuração do resultado desta Promoção, a data da Extração da Loteria Federal subsequente. Regra de Apuração da série: A definição da série participante se dará a partir da dezena simples do primeiro prêmio da Extração da Loteria Federal; NOTA: Caso o número de série encontrado (parágrafos anteriores) seja superior à maior série da apuração, deverá ser subtraída a quantidade de séries da apuração, do número de série encontrado, tantas vezes quantas forem necessárias, até que o número obtido esteja dentro do intervalo de séries da apuração. Caso o número de série encontrado seja inferior à menor série da apuração, deverá ser adicionada a quantidade de séries da apuração, do número de série encontrado, tantas vezes quantas forem necessárias, até que o número obtido esteja dentro do intervalo de séries da apuração. Regra de Apuração do elemento sorteável: A definição do elemento sorteável se dará a partir dos prêmios da Extração da Loteria Federal, lidos de cima para baixo, por meio da combinação das unidades simples do primeiro ao quinto prêmio; Número da  sorte contemplado: Série apurada seguida do elemento sorteável apurado. Regra de Apuração dos Contemplados: (por Apuração) Para determinação do primeiro participante contemplado, este deve possuir o “Número da sorte” que coincide exatamente com o “Número da Sorte contemplado” e atender aos critérios de participação. Os demais contemplados serão determinados pelos “Elementos sorteáveis” imediatamente posteriores. Um “Número da Sorte” não pode ser contemplado mais de uma vez na mesma apuração;</p>

          <p>Aproximação: No caso de não ter sido distribuído o “Número da sorte” apurado ou não atenda aos critérios de participação, dar-se-á a entrega do(s) prêmio(s), alternadamente, ao “Elemento sorteável” imediatamente superior, dentro da mesma série, ou, na falta deste, ao imediatamente inferior, repetindo-se tal procedimento até que se encontre um “Elemento sorteável” distribuído mais próximo ao apurado com base no resultado da loteria federal. No caso de se alcançar o número sequencial inicial ou final, buscar-se-á apenas os imediatamente superiores e inferiores, respectivamente. Caso não tenha sido distribuído nenhum “Elemento sorteável” na série apurada, deve-se repetir o procedimento descrito no parágrafo anterior para todas as séries que compõem a apuração, alternadamente para a série imediatamente superior, ou, na falta desta, para a imediatamente inferior. No caso de se alcançar a série inicial ou final, buscar-se-á apenas as imediatamente superiores e inferiores, respectivamente. Distribuição dos números da sorte: A geração e distribuição dos números da sorte devem ser feitas de forma aleatória.</p>
        </li>

        <li>
          <h6>CRITÉRIOS DE DESCLASSIFICAÇÃO: DESCLASSIFICAÇÃO</h6>

          <p>Os cupons de participação que correspondam a compras via e-commerce que tenham sido canceladas pelo consumidor; serão imediatamente desclassificados.</p>

          <p>Será desclassificada desta promoção, também, a qualquer momento, a participação com fraude comprovada, efetuada por meio da obtenção de benefício/vantagem de forma ilícita, ou que não cumpra quaisquer das condições deste regulamento, como, mas não se limitando à participação:</p>
          <ul>
            <li>
              Com mais de um CPF ou dados pessoais incorretos;
            </li>
            <li>Em que não haja a efetiva confirmação da comprovação das condições exigidas;</li>
            <li>Em que haja a utilização de meios escusos para adquirir as notas ou cupons fiscais ou crie condições de cadastramento irregular, desleais ou que atentem contra os objetivos e condições de participação previstas neste regulamento.</li>
          </ul>


          <p>Todas as situações acima, entre outras, quando identificadas, serão consideradas, a qualquer momento, como infração aos  termos do presente regulamento, ensejando o impedimento da participação com imediato cancelamento do cadastro deste participante ou, ainda, a sua desclassificação mesmo após a realização da apuração.</p>

          <p>O participante será excluído automaticamente da promoção em caso de desclassificação, fraude ou não atendimento de quaisquer requisitos válidos de participação previstos neste regulamento.</p>

          <p>Será desclassificado o contemplado que solicite o cancelamento da compra online, ou tenha sua compra cancelada em virtude de pagamento recusado.</p>

          <p>Caso ocorra alguma das hipóteses de desclassificação, será considerado contemplado o Número da Sorte distribuído imediatamente superior ao inicialmente sorteado, ou, na falta deste, ao distribuído imediatamente inferior.</p>

          <p>Todos os participantes deverão observar as condições, formas e prazos de participação, sendo sumariamente excluídos aqueles que cometerem qualquer tipo de fraude comprovada, ficando, ainda, sujeitos à responsabilização penal e civil, a serem promovidas pela KLASME em face do infrator.</p>

        </li>

        <li>
          <h6>FORMA DE DIVULGAÇÃO DO RESULTADO:</h6>
          <p>O ganhador será comunicado sobre a premiação no prazo máximo de 5 (cinco) dias úteis, contados da data da apuração, por meio de telegrama com AR, telefonema e/ou e-mail, de acordo com os dados cadastrais do participante informados no Site da Promovente.</p>
        </li>


        <li>
          <h6>ENTREGA DOS PRÊMIOS: ENTREGA DO PRÊMIO</h6>

          <p>O prêmio será entregue ao participante vencedor por meio de Carta Compromisso que conterá todas as informações sobre o pacote de viagem, que terá a data agendada pela Promovente em conjunto com o Contemplado.</p>

          <p>O prêmio será entregue no prazo de até 30 (trinta) dias contados da divulgação do participante vencedor, quando o ganhador deverá assinar o Termo de Quitação e Entrega de Prêmio e enviar para a Promovente com a cópia simples do seu RG e CPF, nos termos da lei.</p>

          <p>A data da viagem deverá ser agendada pela Promovente em conjunto com o Contemplado em até 30 (trinta) dias após a data do sorteio, respeitado, na data do agendamento, o prazo mínimo de 20 dias de antecedência da data de embarque, sendo a emissão das passagens aéreas e reservas de hotel de responsabilidade da Promovente.</p>

          <p>A divulgação do nome do ganhador será feita no site da promovente em até 10 (dez) dias úteis contados da data da apuração.</p>

          <p>Na eventualidade de o ganhador vir a falecer antes da entrega do seu prêmio, este será entregue ao espólio, na pessoa do seu inventariante, de acordo com a legislação vigente, devendo tal direito ser exercido em até 180 (cento e oitenta) dias. Não havendo processo de inventário, será entregue a um dos herdeiros do contemplado, com consentimento dos demais, desde que apresentada a devida documentação comprobatória, sob pena do prêmio vir a ser recolhido como renda aos cofres da União Federal.</p>

          <p>Além disso, não sendo encontrado o ganhador, o prazo concedido por lei para reclamar o prêmio é de 180 (cento e oitenta) dias contados a partir da data da apuração. Caso o contemplado não compareça para retirar seu prêmio nesse período, perderá direito a ele, sendo seu valor recolhido pela Promovente ao Tesouro Nacional, como renda da União, no prazo de 10 (dez) dias.</p>

          <p>A premiação oferecida nesta promoção não poderá ser convertida em dinheiro, nem ser substituída por outros produtos ou serviços.</p>
        </li>
        <li>

          <h6>DISPOSIÇÕES GERAIS:</h6>
          <p>A data da viagem deverá ser agendada pelo Ganhador da promoção em conjunto com a Promovente até 20 dias após o sorteio, e com no mínimo 20 dias de antecedência da data de embarque, sendo a emissão das passagens aéreas e reservas de hotel de responsabilidade da Promovente.</p>

          <p>Os gastos com a emissão do passaporte e visto, caso necessário, são de responsabilidade da Empresa Promovente.</p>

          <p>Não é de responsabilidade da Promovente as despesas como contratação de seguro viagem ou quaisquer gastos pessoais incorridos pelo Ganhador, tais como, mas não se limitando a despesas médicas, compras pessoais ou gastos com acidentes/imprevistos.</p>

          <p>A emissão, dentro de prazo hábil, dos documentos necessários para realizar a viagem, é de responsabilidade do contemplado. Caso o contemplado seja impossibilitado de realizar a viagem por ausência desta documentação, perderá o direito ao prêmio.</p>

          <p>A viagem não poderá ser realizada em data que compreenda feriados nos países de partida e destino, nem nos meses de julho e dezembro.</p>

          <p>Caso o contemplado decida alterar a data da viagem por ele definida, após a emissão das reservas caberá a ele, unicamente, negociar com os agentes figurados (companhia aérea, hotel, agências de viagens etc.), bem como arcar com as despesas advindas desta conduta.</p>

          <p>As despesas pessoais realizadas pelo contemplado e/ou seus acompanhantes durante a viagem que não estejam expressamente compreendidas nas despesas especificadas no seu pacote de viagem, deverão ser pagas exclusivamente pelo contemplado e/ou seus acompanhantes no ato do seu check-out e/ou no momento em que lhe for exigido pelos prestadores de serviço.</p>

          <p>No caso de perda do voo (ida ou volta) por culpa do contemplado e/ou seus acompanhantes, estes não terão direito a receber outros bilhetes aéreos pela Promotora, devendo a substituição dos bilhetes e demais despesas advindas desta conduta ser  custeadas integralmente pelo contemplado e/ou seus acompanhantes.</p>

          <p>A divulgação deste sorteio poderá se dar por meio de materiais internos, internet, anúncio de televisão, rádio, revistas, jornal e assessoria de imprensa.</p>

          <p>Em caso de dúvida, haverá à disposição dos interessados o e-mail sac@klasme.com.</p>

          <p>As dúvidas e controvérsias originadas de reclamações dos participantes da Promoção deverão ser, preliminarmente, dirimidas pela Promotora e pela Aderente e, posteriormente, submetidas à Secretaria de Acompanhamento Fiscal, Energia e Loteria – SEFEL, do Ministério da Fazenda, quando o interessado não optar pela reclamação diretamente aos órgãos integrantes do Sistema Nacional de Defesa do Consumidor.</p>

          <p>A distribuição do prêmio é gratuita, não cabendo nenhum ônus ao contemplado.</p>

          <p>A Promovente não se responsabiliza pela autenticidade dos dados fornecidos pelos participantes.</p>

          <p>É obrigatório que os participantes desta promoção cadastrem dados pessoais válidos e atualizados como número de telefone (com DDD), nome, endereço e e-mail, uma vez que esses dados serão utilizados para identificação e localização do ganhador desta promoção e consequente entrega do prêmio.</p>

          <p>Assim sendo, a Promovente não será responsável quando, em razão do fornecimento de dados incompletos ou incorretos, ficar impossibilitado de realizar a entrega do prêmio.</p>

          <p>Excluem de participação na presente promoção as pessoas jurídicas; as pessoas físicas que não cumprirem as condições de participação do regulamento; os sócios, acionistas, funcionários e empregados da empresa Promovente, as agências de propaganda e promoção responsáveis pela campanha promocional, sendo a identificação de tais condições efetuada pela Promovente, por meio de listagem de RH, no momento da apuração.</p>

          <p>O ganhador autoriza, desde já, como consequência da conquista do seu prêmio, a utilização do seu nome, imagem e som de voz, em qualquer um dos meios escolhidos pela Promovente para divulgação desta campanha, pelo período de 1 (um) ano contado da data da apuração e, assim como os demais participantes, autoriza, também, a utilização dos seus dados, como endereço físico, eletrônico, telefone e demais dados constantes do cupom/cadastro, desde que não fira o Código do Consumidor, com o propósito de formação e/ou atualização de cadastro da Promovente, reforço de mídia publicitária e divulgação do evento em referência, sem nenhum ônus para a Promovente, comprometendo-se a não comercializá-los e nem a cedê-los, ainda que a título gratuito.</p>

          <p>As dúvidas e controvérsias originadas de reclamações dos participantes, não previstas neste regulamento, serão julgadas por uma comissão composta por membros representantes da Promovente. Persistindo-as, o questionamento deverá ser feito à Secretaria de Acompanhamento Fiscal, Energia e Loteria – SEFEL/MF. Esclarecimentos eventuais deverão ser dirigidos ao Procon Regional.</p>

          <p>O regulamento completo desta promoção estará disponível no site da Promovente.</p>


        </li>
        <li>
          <h6>TERMO DE RESPONSABILIDADE</h6>
          <p>Poderá participar da promoção qualquer consumidor residente e domiciliado em território nacional, desde que preencha os requisitos estipulados no regulamento da campanha autorizada;</p>

          <p>Os prêmios não poderão ser convertidos em dinheiro; É vedada a apuração por meio eletrônico;</p>
          <p>Os prêmios serão entregues em até 30 dias da data da apuração/sorteio, sem qualquer ônus aos contemplados</p>

          <p>Quando o prêmio sorteado, ganho em concurso ou conferido mediante vale-brinde, não for reclamado no prazo de cento e oitenta (180) dias, contados, respectivamente, da data do sorteio, da apuração do resultado do concurso ou do término do prazo da promoção, caducará o direito do respectivo titular e o valor correspondente será recolhido, pela empresa autorizada, ao Tesouro Nacional, como renda da União, no prazo de quarenta e cinco (45) dias;</p>

          <p>Em caso de promoções com participação de menor de idade, sendo este contemplado, deverá, no ato da entrega do prêmio, ser representado por seu responsável legal;</p>

          <p>A divulgação da imagem dos contemplados poderá ser feita até um ano após a apuração da promoção comercial;</p>

          <p>As dúvidas e controvérsias oriundas de reclamações dos participantes serão, primeiramente, dirimidas pela promotora, persistindo-as, estas deverão ser submetidas à Seae/MF;</p>

          <p>Os órgãos locais de defesa do consumidor receberão as reclamações devidamente fundamentadas;</p>

          <p>O número do Certificado de Autorização deverá constar obrigatoriamente, de forma clara e precisa, em todo material utilizado na divulgação da promoção;</p>

          <p>A prestação de contas deverá ser realizada no prazo máximo de trinta dias após a data de prescrição dos prêmios sob pena de descumprimento do plano de distribuição de prêmios;</p>

          <p>O regulamento deverá ser afixado em lugar de ampla visibilidade e se apresentar em tamanho e em grafia que viabilizem a compreensão e visualização por parte do consumidor participante da promoção comercial;</p>

          <p>Além dos termos acima, a promoção comercial deverá obedecer às condições previstas na Lei nº 5.768, de 1971, no Decreto nº 70.951, de 1972, Portaria MF nº 41, de 2008, Portaria MF nº 67, de 2017, Portaria MF nº 422 de 2013, Portaria Seae/MF nº 88 de 2000, e em atos que as complementarem.</p>

          <p>A infringência às cláusulas do Termo de Responsabilidade e do Regulamento constituem descumprimento do plano de operação e ensejam as penalidade previstas no artigo 13 da Lei nº. 5.768, de 1971.</p>

          <p>Para verificar a autenticidade do Regulamento, acesse a opção 'Consulta Pública da Promoção Comercial', no endereço
          https://scpc.seae.fazenda.gov.br e informe o número do Certificado de Autorização 04.000797/2018</p>
        </li>

      </ol>

    </div>
  </div>
</div>
